.features {
	display: flex;
	align-items: center;
	padding: 2rem 0;
	width: 100%;
}

.featureImageContainer {
	height: auto;
	max-width: 300px;
	width: 100%;
	display: block;
	margin-inline: auto;
	margin-bottom: 8px;
}

.featureImage {
	border-radius: 10px;
}
